/*--------------------------------------------------------------

	Template Name: Drubo
    Template URI: https://devitems.com/html/drubo-preview/
    Description: This is html5 template
    Author: HasTech
    Author URI: https://devitems.com/
    Version: 1.0 

	Note: This is Short code style file. All Short code related style included in this file. 

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/
.static-block-2 .text .link {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid red;
  color: red;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-top: 30px;
  padding: 10px 33px;
  text-transform: uppercase;
}


