/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
.slider-area .nivo-directionNav a {
  top: 60%;
}
.service-hover {
  height: 247px;
  left: -12px;
  padding: 20px 15px 3px;
  top: -20px;
  width: 313px;
}
.wework-social ul li {
  margin-right: 75px;
}
.client-say {
  padding: 82px 100px 58px 60px;
}
.header-top-area .main-menu {
  float: none;
  text-align: center;
}
.main-menu ul li a {
  padding: 40px 9px;
}
/*.specialty-single.two {
  padding: 40px;
  width: 25%;
}*/
.successful-single {
  float: left;
  width: 33%;
}
/* .successful-single:last-child {
  display: none;
} */
.effect-titel {
  padding-top: 25%;
}
.effect-titel.two {
  padding-top: 6%;
}
.effect-titel.three {
  padding-top: 9%;
}
.team-socaladrs {
  margin-top: 55px;
}
.team-adrs {
  margin-top: 0;
  padding-top: 85px;
}
.table-content {
  padding: 45px;
}
.story-content {
  padding-top: 0;
}
.mission-vission .video-content {
  padding: 0;
}
.adrs-details p {
  padding-right: 40%;
}
.project-details {
  float: none;
  width: 100%;
}
.tab-dicrib {
  float: none;
  padding-bottom: 15px;
  padding-right: 0;
  width: 100%;
  padding-left: 25px;
}
.tab-single-photo {
  padding-left: 25px;
}
.main-menu ul#nav li .mega-menu {
  width: 950px;
}
.header-area-2 .main-menu ul#nav li .mega-menu {
  right: -23%;
}
.res-mt{margin-top:20px;}
.header-area-2 .social-rotate ul li:last-child {
  display: none;
}
.two .slide-text {
  top: 45%;
}
.text-titel {
  line-height: 35px;
}
.three .slide-text {
  top: 40%;
  width: 90%;
}
.three .text-titel {
  line-height: 55px;
}
/* .specialty-single.two {
  padding: 60px 30px;
} */ 
.effect-titel h2 {
  font-size: 18px;
}
.single-blog:hover .blog-img a::before {
  transform: translateY(33%);
}
.main-menu ul li > ul {
  width: 190px;
}
}
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.mobile-menu-area {
  display: none;
}
.header-area {
  position: relative;
}
.logo-area {
  padding: 0 0 15px;
  text-align: center;
}
.main-menu {
  float: none;
  text-align: center;
}
.res-mt{margin-top:20px;}
.social-rotate {
  float: none;
  text-align: center;
}
.slider-area .nivo-directionNav a {
  top: 44%;
}
.slider-area .nivo-caption {
  top: 20%;
}
.res-pt-10{padding-top:10px;}
.specialty-image {
  padding-left: 0;
  text-align: center;
}
.video-content > p:last-child {
  display: none;
}
.about-area .social-rotate {
  text-align: left;
}
.wework-social ul li:last-child {
  display: none;
}
.wework-social ul li {
  margin-right: 52px;;
}
.portfolio-menu li {
  font-size: 12px;
  padding: 10px 15px;
}
.latestshot-menu li {
  font-size: 12px;
  padding: 10px 20px;
}
.client-say {
  padding: 45px 75px 47px 60px;
}
.form-group {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
}
/* .specialty-single.two {
  padding: 25px;
  width: 33.33%;
} */
/* .specialty-single.two:last-child {
  display: none;
} */
.two .social-rotate {
  float: none;
  text-align: left;
}
.successful-single {
  float: left;
  width: 50%;
}
/* .successful-single:last-child {
  display: none;
} */
.effect-titel {
  padding-top: 27%;
}
.effect-titel h2 {
  font-size: 16px;
}
.effect-titel > p {
  font-size: 12px;
}
.effect-titel.two {
  padding-top: 6%;
}
.effect-titel.three {
  padding-top: 8%;
}
.team-single > img {
  width: 100%;
}
.team-adrs {
  padding-top: 45%;
}
.team-socaladrs {
  margin-top: 40%;
}
.table-content {
  padding: 40px;
}
.client-img {
  bottom: -60px;
}
.story-content {
  padding-top: 0;
}
/* .specialty-single:last-child {
  display: none;
} */
.mission-vission .video-content {
  padding: 0;
}
.choose-us .icon-titel h6 {
  padding-left: 6%;
  padding-top: 9%;
}
.res-tab-p0{padding:0;}
.blogdetails-titel > h4 {
  font-size: 15px;
}
.comment-form .form-single,.comment-form .form-textarea textarea {
  width: 100%;
}
.cntct-right-adrs {
  padding-left: 0;
}
.project-details {
  float: none;
  width: 100%;
}
.tab-dicrib {
  float: none;
  padding-bottom: 15px;
  padding-right: 0;
  width: 100%;
  padding-left: 25px;
}
.tab-single-photo {
  padding-left: 25px;
}
.develope-menu ul li a {
  font-size: 12px;
}
.slide-text {
  top: 30%;
}
.text-titel {
  font-size: 36px;
}
.main-menu ul > li > a {
  padding: 40px 12px;
}
.main-menu ul#nav li .mega-menu {
  width: 750px;
}
.main-menu ul#nav li .mega-menu .single > li > a {
  font-size: 12px;
  margin: 0 25px;
  padding: 8px;
}
.header-area-2 .social-rotate ul li a {
  margin-right: 15px;
}
.two .slide-text {
  top: 33%;
}
.text-titel {
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}
.two .slide-text p {
  display: none;
}
.three .slide-text {
  top: 33%;
  width: 80%;
}
.slide-text p {
  font-size: 14px;
  margin: 0 0 20px;
}
.header-area-2 {
  position: relative;
}
.client-img {
  bottom: 5px;
}
.res-tab-m0{margin:0;}
.main-menu ul li > ul {
  width: 200px;
}
}

 
/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}

.mobile-menu-area {
  display: block;
}
.header-area {
  position: initial;
}
.header-left ul li {
  margin-bottom: 5px;
  margin-right: 0;
}
.header-left {
  text-align: center;
}
.header-right {
  padding-bottom: 15px;
}
.logo-area {
  margin-bottom: 20px;
  text-align: center;
}
.social-rotate {
  float: none;
  margin-top: 20px;
  text-align: center;
}
.slider-area .nivo-directionNav a {
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  top: 42%;
  width: 40px;
}
.section-title p {
  padding: 0;
}
.about-area .social-rotate {
  float: none;
  padding-top: 0;
  text-align: left;
}
.service-single {
  padding-top: 22%;
}
.service-hover {
  height: 240px;
  left: -18px;
  padding: 18px 15px 3px;
  top: -13px;
  width: 308px;
}
.wework-social > ul {
  text-align: center;
}
.wework-social ul li {
  margin-bottom: 80px;
  margin-right: 0;
}
.wework-social ul li:last-child{ margin-bottom: 0px;}
.portfolio-menu li {
  font-size: 12px;
  margin-bottom: 15px;
}
.portfolio-menu li:nth-child(2),.portfolio-menu li:nth-child(4) {
  border-right: 1px solid #ddd;
}
.latestshot-menu li {
  margin-bottom: 15px;
  font-size:12px;
}
.client-say {
  padding: 50px;
}
.brand-single a img {
  width: 100%;
}
.form-group {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
}
.form-single,.form-textarea textarea {
  margin-right: 0;
  width: 100%;
}
.footer-area .social-rotate ul li a {
  margin-right: 18px;
}
.help-contact-area {
  margin-top: -16.8%;
}
.popup-youtube {
  top: 25%;
}
.specialty-single.two {
  /* padding: 60px; */
  width:100%;
}
.two .social-rotate {
  float: none;
  text-align: left;
}
.abt-left-pic {
  margin-top: 100px;
}
.successful-single {
  float: none;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
}
.sucs-icon a {
  float: none;
  left: 0;
  margin: 0 auto 30px;
  right: 0;
  text-align: center;
}
.successful-area {
  padding-left: 0;
  padding-right: 0;
}
/* .successful-single:last-child {
  margin-bottom: 0;
} */ 
.table-content {
  padding: 15px;
}
.single-brand {
  text-align: center;
}
.client-content {
  margin-bottom: 100px;
  padding: 30px;
}
.client-img {
  bottom: 20px;
}
.choose-us .spe-discribe > p {
  padding-right: 0;
}
.choose-us .icon-titel h6 {
  padding-left: 8%;
  padding-top: 12%;
}
.mission-vission .video-content {
  padding: 0;
}
.blog-discribe-area {
  padding: 0;
}
.dicrobe-content {
  padding: 25px 30px 100px;
}
.blogdetails-titel > h4 {
  display: none;
}
.blogdetails-titel {
  padding-left: 35px;
}
.comment-pic {
  float: none;
  margin-bottom: 15px;
  margin-right: 0;
}
.two .help-contact-area {
  margin-top: -25.8%;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
.two .form-group {
  padding-left: 0;
  padding-right: 0;
  padding-top: 35px;
}
.cntct-right-adrs {
  padding-left: 0;
}
.adrs-details p {
  padding-right: 20%;
}
.project-details {
  float: none;
  width: 100%;
  padding: 40px;
}
.tab-dicrib {
  float: none;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.tab-single-photo {
  padding-left: 0px;
}
.project-develope {
  padding: 40px;
}
.develope-menu ul li a {
  font-size: 12px;
}
.develope-menu ul li {
  margin-bottom: 15px;
}
.develope-menu {
  padding-bottom: 20px;
}
.sticky,.headroom {
  position: unset;
}
.res-pt-xs-50{padding-top:50px}
.res-pt-xs-20{padding-top:20px}
.res-pb-xs-20{padding-bottom:20px}
.res-pb-xs-30{padding-bottom:30px}
.res-pt-xs-0{padding-top:0px}
.slide-text {
  top: 28%;
}
.text-titel {
  font-size: 18px;
  line-height: 22px;
}
.slide-text p {
  margin: 4px 0 12px;
  font-size:10px;
}
.two .slide-text p {
  display: none;
  line-height:25px;
}
.header-area-2 .social-rotate ul li a {
  margin-right: 15px;
}
.text-titel {
  margin-bottom: 20px;
}
.three .slide-text {
  top: 58%;
  width: 80%;
}
.slide-text p {
  font-size: 14px;
  margin: 0 0 20px;
}
.three .slide-text {
  top: 11%;
  width: 80%;
}
.three .slide-text p {
  font-size: 10px;
  margin: 0 0 10px;
}
.three .text-titel {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 2px;
}
.effect-titel > a {
  display: none;
}
.effect-titel h2 {
  font-size: 10px;
}
.effect-titel > p {
  font-size: 10px;
}
.portfolio-menu li:nth-child(2),.portfolio-menu li:nth-child(3),.portfolio-menu li:nth-child(4) {
  border-right: 1px solid #ddd;
}
.latestshot-menu li:nth-child(2),.latestshot-menu li:nth-child(3),.latestshot-menu li:nth-child(4) {
  border-right: 1px solid #eee;
}
.pagination-count ul li a {
  margin-right: 0;
}
.text-center.portfolio-menu.mb-60 {
  margin-bottom: 45px;
}
.image-box > a {
  font-size: 38px;
}
.single-blog:hover .blog-img a::before {
  transform: translateY(25%);
}
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.header-left ul li {
  margin-right: 10px;
}
.header-right {
  float: none!important;
  padding-bottom: 15px;
}
.social-icon ul {
  float: none;
  padding: 0;
  text-align: center;
}
.service-hover {
  padding: 29px 15px 3px;
  width: 440px;
  left:-11px;
}
.service-single {
  padding-top: 16%;
}
.wework-social ul li {
  margin-bottom: 65px;
  margin-right: 67px;
}
.wework-social ul li:last-child{ display:none;}
.wework-social ul li:nth-child(2),.wework-social ul li:nth-child(4) {
  margin: 0;
}
.blog-img.image-box > img {
  width: 100%;
}
.ct-cp {
  float: none;
}
.ct-cp > img,.team-single > img {
  width: 100%;
}
.team-adrs{padding-top: 50px;}
.team-socaladrs{margin-top: 135px;}
.adrs-details p {
  padding-right: 30%;
}
.slide-text {
  top: 32%;
}
.text-titel {
  font-size: 24px;
  line-height: 24px;
}
.blog-img img {
  width: 100%;
}
.slide-text p {
  margin: 10px 0 12px;
  font-size:12px;
}
.three .slide-text {
  top: 30%;
  width: 90%;
}
.single-blog:hover .blog-img a::before {
  transform: translateY(70%);
}

}

@media all and (max-width: 480px){
	.team-adrs {
	    padding-top: 5px;
	}

	.team-socaladrs.mt-95 {
	    margin-top: 71px;
	}	
	.team-adrs h5 {
	    font-size: 13px;
	}
}
